<div>
  <% if @error %>
    <%= @error %>
  <% end %>
</div>
<div class='sessionForm'>
  <%= form_with url: "/sessions/create", method: :post do |form| %>
    <div><%= form.email_field :email, placeholder: 'email' %></div>
    <div><%= form.text_field :username, placeholder: 'username' %></div>
    <div><%= form.password_field :password_digest, placeholder: 'password' %></div>
    <div><%= form.submit %></div>
  <% end %>
</div>