<%= form_with model: @blog do |form| %>
  <div><%= form.text_field :title, placeholder: 'title' %></div>
  <div><%= form.text_area :description, placeholder: 'description' %></div>
  <div><%= form.text_field :location, placeholder: 'url' %></div>
  <div><%= form.submit %></div>
<% end %>